.add-task-overlay{
  max-width: 525px;
  width: 100%;
}

.main_Box-board {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 98%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
}


  

.dropdown-menu.show{
  width: 83%;

}

.content_box-board {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.button_container-board {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-top: 8px;
  gap: 8px;
}

.priorty_button-board {
  height: 50px;
  width: 100%;
  max-width: 156px;
  font-size: 16px;
}

.content-left-board {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px - 96px);
}

.splitbar-board {
  display: none;
}

.input_field-board,
.input_field_description-board,
select,
.subtask-input-wrapper-board,
.dropdown-container-board {
  max-width: 100%;
  width: 100%;
}

.priority-button-group-board {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 16px;
}

.button-row-board {
  flex-direction: row;
  gap: 12px;
}


.create-btn-board {
  width: 100%;
  max-width: 150px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #2a3647;
  color: white;
  border: none;
  flex: 1;
  justify-content: center;
  background-color: #2a3647;
      color: white;
      border: none;
}

.desktop-only-board {
  display: none;
}

.mobile-only-board {
  display: block;
}

.subtask-list-item-board {
  margin-left: 0;
  padding-left: 16px;
}
  
    .create-btn img {
      width: 20px;
      height: 20px;
    }
    .priorty_button {
      max-width: 120px;
    }
  
    .wide-overlay {
      width: 1100px;
      padding: 20px;
      box-sizing: border-box;
    }
 
    @media (max-width: 1200px) {
      .dropdown-menu.show{
        width: 81%;
      
      }
    }
    
    @media (max-width: 900px) {
    
    }
    
    @media (max-width: 780px) {
      
    }

    @media (max-width: 510px) {
     
    }
    
    @media (max-width: 400px) {
      
    }