.add-task-overlay{
  max-width: 525px;
  width: 100%;
}

.scrollbar-container-taskdetail-board{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    height: 90vh;
    width: 512px;
    overflow-x: hidden;

}

.scrollbar-container-taskdetail-overcontainer-board{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  height: 90vh;
  width: 525px;
}

.add-task-overlay-close-button-board{
  display: flex
  ;
      justify-content: space-between;
      align-items: center;
      width: 93%
}

.main_Box-board {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 98%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.subtask-icon-board{
  position: absolute;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  color: #2a3647;
  cursor: pointer;
  right: 5%;
  top: 25px;
}
  
.subtask-icon-group-board{
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  right: 50px;
  top: 725px;
}

.subtask-icon-group-board img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.dropdown-menu.show{
  width: 83%;

}

.content_box-board {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.button_container-board {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-top: 8px;
  gap: 8px;
}

.priorty_button-board {
  height: 50px;
  width: 100%;
  max-width: 156px;
  font-size: 16px;
}

.content-left-board {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px - 96px);
}

.splitbar-board {
  display: none;
}

.input_field-board,
.input_field_description-board,
select,
.subtask-input-wrapper-board,
.dropdown-container-board {
  max-width: 100%;
  width: 100%;
}

.subtask-input-wrapper-board {
  position: relative;
}

.priority-button-group-board {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 16px;
}

.button-row-board {
  flex-direction: row;
  gap: 12px;
}


.create-btn-board {
  width: 100%;
  max-width: 150px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #2a3647;
  color: white;
  border: none;
  flex: 1;
  justify-content: center;
  background-color: #2a3647;
      color: white;
      border: none;
}

.desktop-only-board {
  display: none;
}

.mobile-only-board {
  display: block;
}

.subtask-list-item-board {
  margin-left: 0;
  padding-left: 16px;
}
  
    .create-btn img {
      width: 20px;
      height: 20px;
    }
    .priorty_button {
      max-width: 120px;
    }
  
    .wide-overlay {
      width: 1100px;
      padding: 20px;
      box-sizing: border-box;
    }
 
    @media (max-width: 1200px) {
      .dropdown-menu.show{
        width: 81%;
      
      }

      .subtask-icon-board{
        right: 23%;
        top: 719px;
      }
        
      .subtask-icon-group-board{
        right: 23%;
        top: 719px;
      }

      .priorty_button {
        height: 50px;
        width: 100%;
        max-width: 90px;
        font-size: 14px;
        margin-right: 0;
      }

      .priority-button-group {
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
      }
    }
    
    @media (max-width: 900px) {
    
    }
    
    @media (max-width: 780px) {
      .scrollbar-container-taskdetail-board{
        height: 85vh;
        width: 450px;
       
    
    }
    
    .scrollbar-container-taskdetail-overcontainer-board{

      height: 85vh;
      width: 463px;
    }
    .subtask-icon-board{
      right: 20%;
      top: 719px;
    }
      
    .subtask-icon-group-board{
      right: 20%;
      top: 719px;
    }
    }
    @media (max-width: 650px) {
      .subtask-icon-board{
        right: 20%;
        top: 719px;
      }
        
      .subtask-icon-group-board{
        right: 20%;
        top: 719px;
      }
    }
    @media (max-width: 510px) {
      .scrollbar-container-taskdetail-board{
        height: 81vh;
        width: 350px;
       
    
    }
    
    .scrollbar-container-taskdetail-overcontainer-board{

      height: 81vh;
      width: 363px;
    }
    .subtask-icon-board{
      right: 10%;
      top: 719px;
    }
      
    .subtask-icon-group-board{
      right: 10%;
      top: 719px;
    }
    }
    
    @media (max-width: 400px) {

      .left-content-maincontent{
        width: 80%;
      }
      .scrollbar-container-taskdetail-board{
        height: 80vh;
        width: 290px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .scrollbar-container-taskdetail-overcontainer-board{

      height: 80vh;
      width: 313px;
    }
    .subtask-icon-board{
      right: 12%;
      top: 814px;
    }
      
    .subtask-icon-group-board{
      right: 12%;
      top: 814px;
    }
    }

    @media (max-width: 320px){
      .subtask-icon-board{
        right: 13%;
        top: 815px;
      }
        
      .subtask-icon-group-board{
        right: 13%;
        top: 815px;
      }
      .priorty_button {
        max-width: 70px;
        font-size: 12px;
        height: 45px;
      }
      .priority-button-group img{
        height: 12px;
        width: 12px;

      }
    }