@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/asset/fonts/inter-v18-latin-regular.woff2') format('woff2');
}

body {
    font-family: 'Inter';
    background-color: rgba(246, 247, 248, 1);
}

.widescreen {
    max-width: 1920px;
    margin: auto;
}

.overlay-box{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.add-task-overlay {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    padding: 0 20px 0 20px;
    border-radius: 30px;
}

.overlay-headline {
    padding-bottom: 20px;
}

.headline-board {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.add-task-container {
    width: 504px;
    height: 48px;
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.board-search-field-container {
    width: 312px;
    position: relative;
}

.board-search-field {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 2px solid rgba(209, 209, 209, 1) !important;
    outline: none; 
    background-image: url('/asset/images/board-search.png');
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: 280px 14px;     
    font-size: 20px;
    color: rgb(13, 12, 12);
}

.search-field-border {
    width: 1px;
    height: 31px;
    background-color: rgba(209, 209, 209, 1);
    position:absolute;
    top: 9px;
    right: 46px;
}

.board-splits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 26px;
    max-width: 1208px;
    padding: 0 64px 0 64px;
}

.board-search-field::placeholder {
    font-size: 20px;
    padding-left: 21px;
    color: rgba(209, 209, 209, 1);
}

.add-task-button {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 160px;    
}

.add-task-button:hover {
    background-color: rgb(81, 153, 255);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.add-task-button-text {
    font-size: 21px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.add-task-button-plus {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}

.board-splits {
    width: 25%;
    min-height: calc(100vh - 300px);
    margin-bottom: 50px;
}

.board-splits-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 274px;
}

.board-splits-text {
    font-size: 20px;
    font-weight: 700;
}

.board-splits-image {
    width: 8px;
    height: 8px;
    border: 2px solid rgba(42, 54, 71, 1);
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

.tasks-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    gap:16px;
    background-color: rgba(255, 255, 255, 1);
    max-width: 247px;
}

.tasks-content-user {
    width: 113px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 56, 255, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
}

.tasks-content-technical {
    width: 144px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(31, 215, 193, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
}

.tasks-content-default {
    width: 113px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 56, 255, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
}

.tasks-content-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: rgba(42, 54, 71, 1);
}

.tasks-content-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(168, 168, 168, 1);
    width : 200px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden; 
}

.tasks-content-done {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 5px 0;
}

.tasks-content-done-progressbar {
    margin-right: 13px;
    width: 60%;
}

.tasks-content-done-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    width: 40%;
    white-space: nowrap;
}

.assigned-priority-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.assigned-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.assigned {
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border-radius: 45px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -7px;
}

.priority-low {
    background-image: url('/asset/images/priority-low.png');
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.priority-medium {
    background-image: url('/asset/images/priority-mid.png');
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.priority-Urgent {
    background-image: url('/asset/images/priority-high.png');
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* overlay: */
.task-detail-container {
    height: 800px;
    width: 525px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    gap: 24px;

}

.task-detail-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}

.overlay-tasks-content-user {
    width: 164px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 56, 255, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
    font-size: 23px;
    font-weight: 400;
}

.overlay-tasks-content-technical {
    width: 164px;;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(31, 215, 193, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
    font-size: 23px;
    font-weight: 400;
}

.task-detail-close-button {
    width: 24px;
    height: auto;
}

.task-detail-title {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    margin: 0 40px 0 40px;
}

.task-detail-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 40px 0 40px;
}

.task-detail-due-date {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 40px 0 40px;
    color: rgba(42, 54, 71, 1);
}

.task-detail-priority-low {
    background-image: url('/asset/images/priority-low.png');
    width: 17px;
    height: 17px;
    object-fit: contain;
}

.task-detail-priority-medium {
    background-image: url('/asset/images/priority-mid.png');
    width: 17px;
    height: 17px;
    object-fit: contain;
}

.task-detail-priority-Urgent {
    background-image: url('/asset/images/priority-high.png');
    width: 17px;
    height: 17px;
    object-fit: contain;
}

.task-detail-due-priority-container {
    margin: 0 40px 0 40px;
}

.task-detail-due-priority-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(42, 54, 71, 1);
    margin-right: 25px;
}

.task-detail-due-priority-priority {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(42, 54, 71, 1);
}



.d-none {
    display: none;
}






