@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/asset/fonts/inter-v18-latin-regular.woff2') format('woff2');
}

body {
    font-family: 'Inter';
    background-color: rgba(246, 247, 248, 1);
}

.widescreen {
    max-width: 1920px;
    margin: auto;
}

.overlay-box{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.overlay-box-delete{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.add-task-overlay {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px 0 10px;
    border-radius: 30px;
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
    width: 100%;
    max-width: 450px;
}

.add-task-overlay::-webkit-scrollbar {
    width: 6px;
    
}

.add-task-overlay::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    padding-right: 50px;
}

.add-task-overlay::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

.add-task-overlay::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
}

.overlay-headline {
    padding-bottom: 20px;
}

.headline-board {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.add-task-container {

    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-search-field-container {
    width: 300px;
    position: relative;
}

.board-search-field {

    height: 48px;
    border-radius: 10px;
    border: 2px solid rgba(209, 209, 209, 1) !important;
    outline: none;   
    font-size: 20px;
    color: rgb(13, 12, 12);
    padding-left: 21px;
}

.search-field-border {
    width: 1px;
    height: 31px;
    background-color: rgba(209, 209, 209, 1);
    position:absolute;
    top: 9px;
    right: 46px;
}

.search-field-button {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 48px;
    background-color: rgba(231, 231, 231, 1);
    border: 1px dotted rgba(168, 168, 168, 1);
    border-radius: 10px;
    color: rgba(168, 168, 168, 1);
}

.board-splits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    max-width: 1208px;
    padding: 0 64px 0 64px;
    flex-wrap: wrap;
}

.board-search-field::placeholder {
    font-size: 20px;    
    color: rgba(209, 209, 209, 1);
}

.add-task-button {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 160px;    
}

.add-task-button:hover {
    background-color: rgb(81, 153, 255);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.add-task-button-text {
    font-size: 21px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding: 12px 0;
}

.add-task-button-plus {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}

.board-splits {
    margin-bottom: 50px;
    width: 20%;
}

.board-splits::-webkit-scrollbar {
    width: 6px;
    
}

.board-splits::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    padding-right: 50px;
}

.board-splits::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

.board-splits::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
}

.board-splits-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 274px;
}

.board-splits-text {
    font-size: 20px;
    font-weight: 700;
}

.board-splits-image {
    width: 8px;
    height: 8px;
    border: 2px solid rgba(42, 54, 71, 1);
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

.tasks-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    gap:16px;
    background-color: rgba(255, 255, 255, 1);
    max-width: 247px;
    cursor: pointer;
}

.tasks-content-user {
    width: 113px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 56, 255, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
}

.tasks-content-technical {
    width: 144px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(31, 215, 193, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
}

.tasks-content-default {
    width: 113px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 56, 255, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
}

.tasks-content-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: rgba(42, 54, 71, 1);
}

.tasks-content-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(168, 168, 168, 1);
    width : 90%;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden; 
}

.tasks-content-done {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 5px 0 5px 0;
}

.tasks-content-done-progressbar {
    margin-right: 13px;
    width: 60%;
}

.tasks-content-done-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    width: 40%;
    white-space: nowrap;
}

.assigned-priority-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.assigned-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.assigned {
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border-radius: 45px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -7px;
}

.priority-Low {
    background-image: url('/asset/images/priority-low.png');
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.priority-Medium {
    background-image: url('/asset/images/priority-mid.png');
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.priority-Urgent {
    background-image: url('/asset/images/priority-high.png');
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* overlay: */
.task-detail-container {    
    width: 450px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    gap: 24px;    
    position: relative;
}

.slide-in {
    animation: slide-in 0.3s both;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

.slide-out {
    animation: slide-out 0.3s forwards;
    
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(200%);
  }
}

.task-detail-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
}

.overlay-tasks-content-user {
    width: 164px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 56, 255, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
    font-size: 23px;
    font-weight: 400;
}

.overlay-tasks-content-technical {
    width: 208px;;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(31, 215, 193, 1);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 4px 0;
    font-size: 23px;
    font-weight: 400;
}

.task-detail-close-button {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.task-detail-close-button:hover {
    background-color: rgb(187, 189, 192);
    border-radius: 50%;
}

.task-detail-title {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    margin: 0 40px 0 40px;
    padding: 10px;
    width: 400px;
    
}

.task-detail-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 40px 0 40px;
    max-height: 100px;
    overflow:auto;
}

.task-detail-due-date {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 40px 0 40px;
    color: rgba(42, 54, 71, 1);
}

.task-detail-priority-Low {
    background-image: url('/asset/images/priority-low.png');
    width: 17px;
    height: 17px;
    background-size: 17px 17px contain;
    background-repeat: no-repeat; 
    background-position: center;  
}

.task-detail-priority-Medium {
    background-image: url('/asset/images/priority-mid.png');
    width: 17px;
    height: 17px;
    background-size: 17px 17px contain;
    background-repeat: no-repeat; 
    background-position: center;  
}

.task-detail-priority-Urgent {
    background-image: url('/asset/images/priority-high.png');
    width: 17px;
    height: 17px;
    background-size: 17px 17px contain;
    background-repeat: no-repeat; 
    background-position: center;      
}

.task-detail-due-priority-container {
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-detail-due-priority-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(42, 54, 71, 1);
    margin-right: 25px;
}

.task-detail-due-priority {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(42, 54, 71, 1);
    margin-right: 8px;
}

.task-detail-assigned {
    display: flex;
    flex-direction: column;
    gap: 8px;
    gap: 16px;
    max-height: 130px;
    overflow:auto;
    margin: -10px 40px 0 0;
}

.task-detail-assigned-container {
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: row;  
    align-items: center;
}

.task-detail-assigned-initials {
    width: 42px;
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border-radius: 45px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.task-detail-assigned-name {
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
    margin-left: 16px;
}

.task-detail-subtasks-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-detail-subtasks {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 40px 0 40px;
    color: rgba(42, 54, 71, 1);
}

.task-detail-subtask-container {
    margin: 0 40px 0 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-height: 120px;
    overflow:auto;
}

.task-detail-subtask-container:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    background-position: center;
}

.task-detail-subtask-image-on {
    background-image: url('/asset/images/board-subtask-check-button.png');
    width: 24px;
    height: 24px;
    margin-right: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.task-detail-subtask-image-on:hover{
    
    transform: translateY(-1px);
}

.task-detail-subtask-image-off {
    background-image: url('/asset/images/board-subtask-check-button-hook.png');
    width: 24px;
    height: 24px;
    margin-right: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.task-detail-subtask-image-off:hover{
    transform: translateY(-1px);
}

.task-detail-subtask-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 80%;
}

.task-detail-subtask-text:hover {
    margin-right: 10px;
}

.task-detail-delete-edit-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 40px 0 40px;
    align-items: center;
    gap: 8px;
}

.task-detail-delete-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 10px 0 40px 0;
    cursor: pointer;
}

.task-detail-delete-container-border {
    width: 1px;
    height: 100%;
    background-color: rgba(209, 209, 209, 1);
}

.task-detail-delete-image {
    width: 16px;
    height: 18px;
}

.task-detail-edit-image {
    width: 18px;
    height: 18px;
}

.task-detail-delete-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(42, 54, 71, 1);
}

.d-none {
    display: none;
}

.delete-question-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
    width: 250px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    justify-content: space-around;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.delete-question-overlay-text {
    font-size: 20px;
}

.delete-question-overlay-button-container{
    height: 30px;
}

.delete-question-overlay-button {
    margin: 10px;
    font-size: 20px;
    border: 1px solid rgb(201, 199, 199);
    padding: 3px 13px 3px 13px;
    box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.add-task-overlay-close-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.add-task-overlay-close-header {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    margin: 30px 0 30px 0 ;
}

.button-row-overlay{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin: 20px 0 30px 0;

}



@media(max-width: 1250px) {
    .board-splits-container {
        display: grid;
        grid-template-columns: 240px 240px;
    }
    
    .board-splits {
        width: 240px;
        max-height: 600px;
        overflow: auto;
    }
    
}

@media(max-width: 1250px) {
.board-search-field-container {
    margin-left: 20px;
    }
}

@media (max-width: 900px) {
    .headline-board{
        flex-wrap: wrap;
    }

    .board-splits-container {
        display: grid;
        grid-template-columns: 350px; 
    }

    .board-splits {
        width: 350px;
        max-height: 600px;
        overflow: auto;
    }

    .board-search-field-container {
        margin-left: 0;
    }

    .tasks-content {
        max-width: 350px;
    }
}

@media (max-width: 780px){
    .button-row-overlay {
        justify-content: center;
    }
}

@media (max-width: 580px) {
    .add-task-container {
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }

    .board-splits-container {
        display: flex;        
    }

    .task-detail-container {
        width: 90%;
    }
}

@media (max-width: 460px) {
    .board-splits {
        width: 280px;
    }

    .board-search-field-container {
        margin-left: 0;
    }

    .tasks-content {
        max-width: 300px;
    }

    .board-splits-container {
        padding: 5px;
    }

    .board-search-field-container {
        width: 270px;
    }

    .headline {
        margin: 5px;
    }
}

  






