@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/asset/fonts/inter-v18-latin-regular.woff2') format('woff2');
}

body {
    margin: 0;
    font-family: 'Inter';
    background-color: rgba(246, 247, 248, 1);
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
}

.sign-up-container {
    position: absolute;
    top: 80px;
    right: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.sign-up-container-text {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);   
}

.sign-up-container-field {
    cursor: pointer;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 15px 16px 15px 16px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
}

.log-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--main-card-bg);
    width: 652px;
    height: 449px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.log-in-headline-container {
    position: relative;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-headline-container::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 3px; 
    background-color: rgba(41, 171, 226, 1);
}

.log-in-headline {
    font-size: 61px;
    font-weight: 700;
}

.login-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-input-field-mail {
    width: 422px;
    height: 48px;
    margin: 30px 0 20px 0;
    border-radius: 10px;
    border: 2px solid rgba(209, 209, 209, 1) !important;
    outline: none; 
    background-image: url('/asset/images/grey-mail.svg');
    background-repeat: no-repeat;
    background-position: 380px 10px; 
    padding-left: 21px;
    font-size: 20px;
    color: rgb(13, 12, 12);
}

.log-in-input-field-mail::placeholder {
    font-size: 20px;
    color: rgba(209, 209, 209, 1);
}

.log-in-input-field-password{
    width: 422px;
    height: 48px;
    margin: 30px 0 20px 0;
    border-radius: 10px;
    border: 2px solid rgba(209, 209, 209, 1) !important;
    outline: none; 
    background-image: url('/asset/images/lock.svg');
    background-repeat: no-repeat;
    background-position: 380px 10px; 
    padding-left: 21px;
    font-size: 20px;
    color: rgb(12, 12, 12);
}

.log-in-input-field-password::placeholder{
    font-size: 20px;
    color: rgba(209, 209, 209, 1);
}

.login-forms-submit-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 322px;
}

.login-forms-submit-buttons-login {
    padding: 15px 24px 15px 24px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.login-forms-submit-buttons-guest {
    padding: 15px 24px 15px 24px;
    border: 1px solid rgba(42, 54, 71, 1);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    color: rgba(42, 54, 71, 1);
    cursor: pointer;
}

.login-footer{
    width: 246px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.login-footer a {
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
}

@media (max-width: 950px) {
    .logo {
        width: 64px;
    }

    .sign-up-container {
        top: 80px;
        right: 120px;
    }
    
}

@media (max-width: 750px) {
    .logo {
        top: 37px;
        left: 38px;
    }
   
    .log-in-container {
        width: 396px;
        height: 475px;
    }
    
    .log-in-headline-container {
        position: relative;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
      .log-in-headline {
        font-size: 47px;
        font-weight: 700;
    }
    
    .login-forms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .log-in-input-field-mail {
        width: 364px;
        height: 48px;
        padding-left: 10px;
        background-position: 346px 10px; 
        margin: 32px 0 0 0;
    }
    
    .log-in-input-field-password{
        width: 364px;
        height: 48px;
        padding-left: 10px;
        background-position: 346px 10px; 
        margin-top: 16px; 
    }
     
    .login-forms-submit-buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 180px;
        gap: 21px;
    }
    
    .login-forms-submit-buttons-login {
        border-radius: 8px;
        font-size: 16px;
    }
    
    .login-forms-submit-buttons-guest {
        font-size: 16px;
        font-weight: 700;
    }

    .sign-up-container {
        width: 292px;
        height: 49px;
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .sign-up-container-text {
        font-size: 20px;
        color: rgba(0, 0, 0, 1);   
    }
    
    .sign-up-container-field {
        cursor: pointer;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        padding: 15px 16px 15px 16px;
        background-color: rgba(42, 54, 71, 1);
        border-radius: 8px;
    }

    .login-footer{
        width: 246px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

@media (max-width: 430px) {

    .log-in-container {
        width: 310px;
        height: 390px;
    }    
 
      .log-in-headline {
        font-size: 32px;
        font-weight: 700;
    }
    
    .log-in-input-field-mail {
        width: 290px;
        height: 38px;
        padding-left: 5px;
        background-position: 265px 8px; 
    }
    
    .log-in-input-field-password{
        width: 290px;
        height: 38px;
        padding-left: 5px;
        background-position: 265px 8px; 
        margin-top: 16px; 
    }
     
    .login-forms-submit-buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 150px;
        gap: 16px;
    }
    
    .login-forms-submit-buttons-login {
        border-radius: 8px;
        font-size: 14px;
        padding: 10px 24px 10px 24px;
    }
    
    .login-forms-submit-buttons-guest {
        font-size: 14px;
        font-weight: 700;
        padding: 10px 24px 10px 24px;
    }

    .sign-up-container {
        top: 80%;
        justify-content: space-between;
        width: 242px;
    }
    
    .sign-up-container-text {
        font-size: 20px;
        color: rgba(0, 0, 0, 1);   
        font-size: 15px;
    }
    
    .sign-up-container-field {
        font-size: 15px;
        color: rgba(255, 255, 255, 1);
        padding: 10px 14px 10px 14px;
    }

    .login-footer{
        width: 216px;
        font-size: 14px;
    }
    
}