@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/asset/fonts/inter-v18-latin-regular.woff2') format('woff2');
}

body {
    margin: 0;
    font-family: 'Inter';
    background-color: rgba(246, 247, 248, 1);
}

.widescreen {
    max-width: 1920px;
    margin: auto;
}


@keyframes container-ani-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes container-ani-z-index{
    to {
        z-index: -1000;
    }
}

.animated-container-zindex{
    animation: container-ani-z-index 0.1s ease forwards;
}

.animated-bigger-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.animated-container {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-container-bg);
    z-index: 1;
    animation: container-ani-opacity 2s ease 1s forwards, container-ani-z-index 2s ease 1s forwards;
}

@keyframes animated-logo-move {
    from {
       
    }
    to {
        top:80px;
        left:70px;
        width: 100px;
    }
}

.animated-logo {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 150px);
    width: 200px;

    animation: animated-logo-move 2s ease 1s forwards;
}

@keyframes content-ani-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content {
    opacity: 0;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    animation: content-ani-opacity 2s ease 2s 1 forwards;
}

.content-top {
    position: relative;
    left: 0;
    top: 0;

    width: 100%;
    height: 260px;
}

.logo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
}

.sign-up-container {
    position: absolute;
    top: 80px;
    right: 77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.sign-up-container-text {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);   
}

.sign-up-container-field {
    cursor: pointer;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 15px 16px 15px 16px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
}

@keyframes login-container-move {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

.login-wrapper {
    width: 100%;
    height: calc(100vh - 260px - 80px);

    display: flex;
    align-items: center;
}

.log-in-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    width: 652px;
    height: 449px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    animation: login-container-move 1s ease-in-out 2s 1 forwards;
}

.log-in-headline-container {
    position: relative;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-headline-container::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 3px; 
    background-color: rgba(41, 171, 226, 1);
}

.log-in-headline {
    font-size: 61px;
    font-weight: 700;
}

.login-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-input-field-mail {
    width: 422px;
    height: 48px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgba(209, 209, 209, 1) !important;
    outline: none; 
    background-image: url('/asset/images/grey-mail.svg');
    background-repeat: no-repeat;
    background-position: 380px 10px; 
    padding-left: 21px;
    font-size: 20px;
    color: rgb(13, 12, 12);
}

.log-in-input-field-mail::placeholder {
    font-size: 20px;
    color: rgba(209, 209, 209, 1);
}

.log-in-input-field-password{
    width: 422px;
    height: 48px;
    margin: 30px 0 10px 0;
    border-radius: 10px;
    border: 2px solid rgba(209, 209, 209, 1) !important;
    outline: none; 
    background-image: url('/asset/images/lock.svg');
    background-repeat: no-repeat;
    background-position: 380px 10px; 
    padding-left: 21px;
    font-size: 20px;
    color: rgb(12, 12, 12);
}

.log-in-input-field-password::placeholder{
    font-size: 20px;
    color: rgba(209, 209, 209, 1);
}

.login-forms-submit-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 322px;
}

.login-forms-submit-buttons-login {
    padding: 15px 24px 15px 24px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.login-forms-submit-buttons-guest {
    padding: 15px 24px 15px 24px;
    border: 1px solid rgba(42, 54, 71, 1);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    color: rgba(42, 54, 71, 1);
    cursor: pointer;
}

.sign-up-container-bottom {
    width: 100%;
    height: 50px;
    display: flex;
    position: absolute;
    bottom: 70px;
    left: 0%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: none;
}

.login-footer{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 0%;
    gap: 20px;
    justify-content: center;  
}


.login-footer a {
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
}

.wrong-login-text {
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

@media (max-width: 1900px) {
    .animated-logo {
        position: absolute;
        left: calc(50% - 100px);
        top: calc(50% - 150px);
        width: 200px;

        animation: animated-logo-move 2s ease 1s forwards;
    }
}


@media (max-width: 950px) {
    .logo {
        width: 64px;
    }

    .sign-up-container {
        top: 80px;
        right: 77px;
    }
    
}

@media (max-width: 750px) {
    .logo {
        top: 37px;
        left: 38px;
    }
   
    .log-in-container {
        width: 396px;
        height: 475px;
    }
    
    .log-in-headline-container {
        position: relative;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
      .log-in-headline {
        font-size: 47px;
        font-weight: 700;
    }
    
    .login-forms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .log-in-input-field-mail {
        width: 364px;
        height: 48px;
        padding-left: 10px;
        background-position: 346px 10px; 
        margin: 32px 0 0 0;
    }
    
    .log-in-input-field-password{
        width: 364px;
        height: 48px;
        padding-left: 10px;
        background-position: 346px 10px; 
        margin-top: 16px; 
    }
     
    .login-forms-submit-buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 180px;
        gap: 21px;
    }
    
    .login-forms-submit-buttons-login {
        border-radius: 8px;
        font-size: 16px;
    }
    
    .login-forms-submit-buttons-guest {
        font-size: 16px;
        font-weight: 700;
    }

    .sign-up-container {
        width: 292px;
        height: 49px;
        position: fixed !important;
        right: calc(100vw / 2 - 156px);
        top: calc(100vh - 130px);
        display: none;
        
    }

    .sign-up-container-bottom {
        display: flex;
    }
    
    .sign-up-container-text {
        font-size: 20px;
        color: rgba(0, 0, 0, 1);   
    }
    
    .sign-up-container-field {
        cursor: pointer;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
        padding: 15px 16px 15px 16px;
        background-color: rgba(42, 54, 71, 1);
        border-radius: 8px;
    }

    .login-footer{
        display: flex;
        flex-direction: row;
    }
    
}

@media (max-width: 430px) {

    .content-top {
        height: 180px;
    }

    .log-in-container {
        width: 310px;
        height: 350px;
        padding: 10px 0;
    }   
    
    .log-in-headline-container {
        height: 50px;
    }
 
    .log-in-headline {
        font-size: 32px;
        font-weight: 700;
    }
    
    .log-in-input-field-mail {
        width: 290px;
        height: 38px;
        padding-left: 5px;
        background-position: 265px 8px; 
    }
    
    .log-in-input-field-password{
        width: 290px;
        height: 38px;
        padding-left: 5px;
        background-position: 265px 8px; 
        margin-top: 16px; 
    }
     
    .login-forms-submit-buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 150px;
        gap: 16px;
    }
    
    .login-forms-submit-buttons-login {
        border-radius: 8px;
        font-size: 14px;
        padding: 10px 24px 10px 24px;
    }
    
    .login-forms-submit-buttons-guest {
        font-size: 14px;
        font-weight: 700;
        padding: 10px 24px 10px 24px;
    }

    .sign-up-container {
        top: 80%;
        justify-content: space-between;
        width: 242px; 
        position: fixed !important;
        right: calc(100vw / 2 - 121px);
        top: calc(100vh - 108px);
    }
    
    .sign-up-container-text {
        font-size: 20px;
        color: rgba(0, 0, 0, 1);   
        font-size: 15px;
    }
    
    .sign-up-container-field {
        font-size: 15px;
        color: rgba(255, 255, 255, 1);
        padding: 10px 14px 10px 14px;
    }

    .login-footer{
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;
    }
    
}

@media (max-height:1000px) {
    .login-wrapper {
        height: auto;
    }
}

@media (max-height:900px) and (min-width:430px) {
    
    
    .login-footer {
        position: static;
        margin-top: 30px;
    }

    .sign-up-container-bottom {
        position: static;
        margin-top: 30px;
    }
}

@media (max-height:700px) and (max-width:430px) {
    .content {
        min-height: auto;
    }
    .login-footer {
        position: static;
    }

    .sign-up-container-bottom {
        position: static;
        margin-top: 30px;
    }
}
