:root {
    --main-container-bg:#f6f7f9;
    --main-card-bg:#fff;
    --sidebar-text: #cdcdcd;
    --sidebar-text-selected: #fff;
    --btn-color: #2a3647;
    --dark-blue: #007cee;
    --sidebar-bg: rgba(42, 54, 71, 1);
    --divider:rgba(41, 171, 226, 1);
    --bg-gray: #d1d1d1;
}

@font-face{
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/asset/fonts/inter-v18-latin-regular.woff2') format('woff2');
}
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter';
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: var(--sidebar-text);
    text-decoration: none;
}


.white-card {
    border-radius: 20px;
    background-color: var(--main-card-bg);
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.white-card:hover{
    border-radius: 14px;
    background-color: rgb(42,54,71);
    transform: scale(1.07);
    color: rgba(255, 255, 255, 1);    
}

.pointer:hover {
    cursor: pointer;
}

.d-none {
    display:none;
}

button {
    border: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 900px) {
    

    .white-card {
        padding: 5px 10px !important;
    }
}

