@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/asset/fonts/inter-v18-latin-regular.woff2') format('woff2');
}

body {
    margin: 0;
    font-family: 'Inter';
}

.widescreen {
    max-width: 1920px;
    margin: auto;
}

.sidebar-dummy {
    width: 232px;
    height: 100vh;
    background-color: rgba(42, 54, 71, 1);      
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 96px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1)
}

.header-left {
    font-size: 20px;
    margin-left: 350px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.header-right {
    width: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}

.header-right-help {
    cursor: pointer;
}

.header-right-name {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;  
    color: rgba(41, 171, 226, 1); 
    border: 2px solid black;  
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; 
    cursor: pointer;
}

.conten-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 580px;
}

.content-left {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 75 0px 0 30px;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    width: 625px;
}

.headline-left {
    font-size: 61px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.headline-border {
    height: 59px;
    width: 3px;
    background-color: rgba(41, 171, 226, 1);
}

.headline-right {
    font-size: 27px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
}

.summary-tasks {
    padding-left: 30x;
    display: flex;
    flex-direction: column;
    width: 625px;
}

.summary-tasks-todo-done {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 115px 0 30px;
}

.summary-tasks-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summary-tasks-todo-image {
    width: 69px;
    height: auto;
    margin-right: 15px;
}

.summary-tasks-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-tasks-todo-number{
    font-size: 64px;
}

.summary-tasks-todo-text {
    font-size: 20px;
}

.summary-tasks-urgent-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 60px 115px 60px 50px;
}

.summary-tasks-urgent-image {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.summary-tasks-urgent-border{
    width: 2px;
    height: 102px;
    background-color: rgba(209, 209, 209, 1);
}

.summary-tasks-urgent-date-deadline{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.summary-tasks-urgent-date {
    font-size: 21px;
    font-weight: 700;
}

.summary-tasks-urgent-deadline {
    font-size: 16px;
    font-weight: 400;
}

.summary-tasks-task-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px 0 30px;
}

.summary-tasks-task-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.summary-tasks-task-summary-number {
    font-size: 64px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1)
}

.summary-tasks-task-summary-text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: (42, 54, 71, 1)
}

.content-right {
    display: flex;
    flex-direction: column;
}

.content-right-text-greeting {
    font-size: 47px;
    font-weight: 500;
}

.content-right-text-name{
    font-size: 64px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1)
}

@media (max-width: 1700px) {
    .conten-middle{
        margin-right: 310px;
    }
    
}

@media (max-width: 1600px) {
    .conten-middle{
        margin-right: 180px;
    }
    
}

@media (max-width: 1420px) {
    .conten-middle{
        margin-right: 80px;
    }
    
}

@media (max-width: 1320px) {
    .conten-middle{
        margin-right: 220px;
    }

    .headline {
        width: 450px;
    }
    

    .headline-left {
        font-size: 41px;
    }
    
    .headline-right {
        font-size: 18px;
    }

    .summary-tasks {
        padding-left: 20x;
        width: 450px;
    }
    
    .summary-tasks-todo-done {
        margin: 0 80px 0 20px;
    }    
  
    .summary-tasks-todo-image {
        width: 49px;
        height: auto;
        margin-right: 15px;
    }
    
    .summary-tasks-todo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .summary-tasks-todo-number{
        font-size: 44px;
    }
    
    .summary-tasks-todo-text {
        font-size: 13px;
    }
    
    .summary-tasks-urgent-container{
        margin: 40px 85px 40px 35px;
    }
    
    .summary-tasks-urgent-image {
        width: 44px;
        height: auto;
        margin-right: 10px;
    }
    
    .summary-tasks-urgent-border{
        height: 80;
    }
    
    .summary-tasks-urgent-date {
        font-size: 16;
        font-weight: 700;
    }
    
    .summary-tasks-urgent-deadline {
        font-size: 12;
        font-weight: 400;
    }
    
    .summary-tasks-task-summary {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 80px 0 30px;
    }
    
    .summary-tasks-task-summary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
    }
    
    .summary-tasks-task-summary-number {
        font-size: 44px;
    }
    
    .summary-tasks-task-summary-text {
        font-size: 13px;
    }
    
    .content-right {
        display: flex;
        flex-direction: column;
    }
    
    .content-right-text-greeting {
        font-size: 32px;
    }
    
    .content-right-text-name{
        font-size: 44px;
    }
    
}

@media (max-width: 1200px) {
    .conten-middle{
        margin-right: 120px;
    }

    .header-left {
        margin-left: 300px;
    }
}

@media (max-width: 1070px) {
    .conten-middle{
        margin-right: 50px;
    }
}